.grass_bg{
    background-image: url('../img/grass_bg.png');
}

.stone_bg{
    background: url('../img/stone_bg.png') repeat;
}

.ground_bg{
    background-image: url('../img/ground_bg.png');
}

.hr-letf{
    width: 33%;
}

.perso_down{
    background: url('../img/perso_bottom.png') no-repeat;
    background-size: 50%;
}

.wall-top{
    border-top: 3px solid black;
}

.wall-bottom {
    border-bottom: 3px solid black;
}

.wall-right {
    border-right: 3px solid black;
}

.wall-left {
    border-left: 3px solid black;
}

.box{
    width: 40%;
}

.box:after {
    align-content: center;
    content: "";
    display: block;
    padding-bottom: 100%;
}

.type0 {
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}

.type1{
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}

.type2{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}

.type3{
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
}

.type4{
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

.type5{
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}


.type6 {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

.type7 {
    border-top: 3px solid black;
    border-right: 3px solid black;
}

.type8 {
    border-top: 3px solid black;
    border-left: 3px solid black;
}

.type9 {
    border-right: 3px solid black;
    border-left: 3px solid black;
}

.type10 {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
